@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Plus Jakarta Sans', sans-serif;

    --fc-primary: #18191f;
    --fc-secondary: #1e4a3c;

    --bg-primary: #006041;
    --bg-secondary: #e7f0ee4d;
}

.bg-primary {
    background-color: var(--bg-primary) !important;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
}

.text-primary {
    color: var(--fc-primary) !important;
}

.text-secondary {
    color: var(--fc-secondary) !important;
}

.jakarta-sans {
    font-family: var(--font-family) !important;
}

.active {
    background-color: var(--bg-secondary) !important;
    color: var(--fc-secondary) !important;
}